.register {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.register .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.register .image {
  width: 201px;
  height: 236px;
  top: 173px;
  left: 156px;
  position: absolute;
  object-fit: cover;
}

.register .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 500px;
  left: 111px;
  border: 1px solid;
  border-color: #000000;
  height: 550px;
  width: 350px;
}

.register .event-manager {
  position: relative;
  width: 335px;
  height: 469px;
  margin-top: -1px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.64px;
  line-height: 26.9px;
}

.register .frame-2 {
  display: flex;
  flex-direction: column;
  width: 754px;
  height: 750px;
  align-items: flex-start;
  position: absolute;
  top: 176px;
  left: 607px;
}

.register .name-address-email {
  position: relative;
  width: 754px;
  margin-top: -1px;
  margin-bottom: -166px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 22px;
}

.register .text-wrapper {
  color: #000000;
}

.register .span {
  color: #ff0a0a;
}

.register .text-wrapper-2 {
  color: #0a0a0a;
}

.register .first-name-wrapper {
  position: absolute;
  top: 63px;
  left: 42px;
  width: 222px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.register .first-name {
  position: absolute;
  width: 141px;
  top: 8px;
  left: 12px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #615252;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 22px;
  white-space: nowrap;
}

.register .eg-shukla-wrapper {
  position: absolute;
  top: 63px;
  left: 284px;
  width: 222px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.register .text-wrapper-3 {
  width: 141px;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 22px;
  white-space: nowrap;
  position: absolute;
  top: 8px;
  left: 11px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #615252;
}

.register .eg-xxx-example-com-wrapper {
  position: absolute;
  top: 480px;
  left: 42px;
  width: 222px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.register .eg-xxx-example-com {
  width: 175px;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 16.5px;
  position: absolute;
  top: 8px;
  left: 11px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #615252;
}

.register .div-wrapper {
  position: absolute;
  top: 589px;
  left: 42px;
  width: 222px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.register .frame-3 {
  position: absolute;
  top: 199px;
  left: 42px;
  width: 474px;
  height: 197px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.register .BUTTON {
  display: flex;
  width: 278px;
  height: 73px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  top: 1028px;
  left: 1028px;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #080808;
  all: unset;
  box-sizing: border-box;
}

.register .button {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -2px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #fcfcfc;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.64px;
  line-height: 26.9px;
  all: unset;
  box-sizing: border-box;
  top: 1028px;
  left: 1028px;

}

.register .overlap-group {
  position: absolute;
  width: 1440px;
  height: 118px;
  top: 0;
  left: 0;
}

.register .frame-4 {
  position: absolute;
  width: 1440px;
  height: 96px;
  top: 0;
  left: 0;
  background-color: #1e5048;
}

.register .img {
  width: 93px;
  height: 93px;
  top: 4px;
  left: 1336px;
  position: absolute;
  object-fit: cover;
}

.register .logo {
  position: absolute;
  width: 137px;
  height: 118px;
  top: 0;
  left: 30px;
  object-fit: cover;
}

.register .detail{
  background-color: #1e5048;
  color: #fcfcfc;
  font-size: 32px;
}
.register #fn{
  height: 34px;
  width: 240px;
}
.register #add{
  height: 34px;
  width: 480px;
  border: #fcfcfc;
}

.register #abc{
  position: relative;
  top: 75px;
  left:200px;
  height: 45px;
  width: 100px;
  font-size: 15px;
  background-color: #1e5048;
  color: #fcfcfc;
  border-radius: 20px;
}