.events {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.events .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.events .overlap {
  position: absolute;
  width: 331px;
  height: 52px;
  top: 238px;
  left: 91px;
}

.events .text-wrapper {
  position: absolute;
  width: 153px;
  top: 0;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.events .group {
  position: absolute;
  width: 202px;
  height: 51px;
  top: 1px;
  left: 129px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.events .text-wrapper-2 {
  position: absolute;
  width: 125px;
  height: 38px;
  top: 5px;
  left: 12px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #090000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.events .image {
  width: 32px;
  height: 24px;
  top: 13px;
  left: 160px;
  position: absolute;
  object-fit: cover;
}

.events .line {
  width: 1325px;
  height: 4px;
  top: 300px;
  left: 58px;
  position: absolute;
  object-fit: cover;
}

.events .group-wrapper {
  position: absolute;
  width: 620px;
  height: 267px;
  top: 369px;
  left: 739px;
}

.events .overlap-group-wrapper {
  width: 626px;
  height: 267px;
}

.events .overlap-group {
  position: relative;
  width: 620px;
  height: 267px;
  background-color: #fcfcfc;
  border-radius: 40px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 10px 20px 4px #00000040;
}

.events .overlap-2 {
  position: absolute;
  width: 552px;
  height: 252px;
  top: 0;
  left: 17px;
}

.events .img {
  width: 201px;
  height: 236px;
  top: 16px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.events .TITLE-OF-THE-EVENT {
  position: absolute;
  width: 377px;
  height: 183px;
  top: 0;
  left: 175px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
}

.events .span {
  color: #000000;
}

.events .text-wrapper-3 {
  color: #988f8f;
}

.events .text-wrapper-4 {
  color: #ada4a4;
}

.events .image-2 {
  width: 23px;
  height: 26px;
  top: 215px;
  left: 183px;
  position: absolute;
  object-fit: cover;
}

.events .BUTTON {
  position: absolute;
  width: 87px;
  top: 13px;
  left: 8px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #fcfcfc;
  font-size: 18px;
  letter-spacing: 0.36px;
  line-height: 15.1px;
  all: unset;
  box-sizing: border-box;
}

.events .text-wrapper-5 {
  position: absolute;
  width: 28px;
  height: 14px;
  top: 220px;
  left: 222px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 11.8px;
  white-space: nowrap;
}

.events .BUTTON-wrapper {
  display: flex;
  width: 140px;
  height: 47px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  top: 188px;
  left: 410px;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #fcfcfc;
  all: unset;
  box-sizing: border-box;
}

.events .button {
  position: relative;
  width: 87px;
  height: 20px;
  margin-top: -2px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #fcfcfc;
  font-size: 18px;
  letter-spacing: 0.36px;
  line-height: 15.1px;
  all: unset;
  box-sizing: border-box;
}

.events .div-wrapper {
  position: absolute;
  width: 620px;
  height: 267px;
  top: 369px;
  left: 74px;
}

.events .group-2 {
  position: absolute;
  width: 620px;
  height: 267px;
  top: 677px;
  left: 74px;
}

.events .group-3 {
  position: absolute;
  width: 620px;
  height: 267px;
  top: 677px;
  left: 739px;
}

.events .overlap-3 {
  position: absolute;
  width: 1440px;
  height: 220px;
  top: -3px;
  left: 0;
}

.events .frame {
  position: absolute;
  width: 1440px;
  height: 96px;
  top: 0;
  left: 0;
  background-color: #1e5048;
}

.events .image-3 {
  width: 93px;
  height: 93px;
  top: 3px;
  left: 1336px;
  position: absolute;
  object-fit: cover;
}

.events .logo {
  position: absolute;
  width: 137px;
  height: 114px;
  top: 3px;
  left: 30px;
  object-fit: cover;
}

.events .text-wrapper-6 {
  position: absolute;
  width: 209px;
  top: 115px;
  left: 65px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.events .text-wrapper-7 {
  position: absolute;
  width: 305px;
  top: 115px;
  left: 320px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #908e8e;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.events .rectangle {
  position: absolute;
  width: 614px;
  height: 124px;
  top: 93px;
  left: 29px;
}

.events .line-2 {
  width: 1px;
  height: 139px;
  top: 81px;
  left: 294px;
  position: absolute;
  object-fit: cover;
}

.events .search {
  position: absolute;
  width: 330px;
  height: 63px;
  top: 215px;
  left: 1031px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #999999;
}

.events .image-4 {
  width: 34px;
  height: 34px;
  top: 14px;
  left: 264px;
  position: absolute;
  object-fit: cover;
}

.events .text-wrapper-8 {
  position: absolute;
  width: 313px;
  height: 54px;
  top: 3px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}
.events .butt{
  position: relative;
  top:-55px;
  left:320px;
  height: 40px;
  width: 150px;
  font-size: 24px;
  color: #ffffff;
  background-color: #1e5048;
  border: #ffffff;
  border-radius: 20px;


}
.TITLE-OF-THE-EVENT{
  margin-top:25px;
  margin-left: 30px;
}
.text-wrapper-3{
  margin-left: -75px;
}