.events-registered {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.events-registered .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.events-registered .overlap {
  position: absolute;
  width: 699px;
  height: 139px;
  top: 118px;
  left: 56px;
}

.events-registered .text-wrapper {
  position: absolute;
  width: 509px;
  top: 34px;
  left: 33px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #908e8e;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.events-registered .text-wrapper-2 {
  position: absolute;
  width: 411px;
  top: 34px;
  left: 288px;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.events-registered .rectangle {
  position: absolute;
  width: 612px;
  height: 139px;
  top: 0;
  left: 0;
}

.events-registered .line {
  position: absolute;
  width: 1px;
  height: 139px;
  top: 0;
  left: 262px;
  object-fit: cover;
}

.events-registered .overlap-group {
  position: absolute;
  width: 338px;
  height: 51px;
  top: 270px;
  left: 111px;
}

.events-registered .text-wrapper-3 {
  position: absolute;
  width: 153px;
  top: 6px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.events-registered .group {
  position: absolute;
  width: 202px;
  height: 51px;
  top: 0;
  left: 136px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.events-registered .text-wrapper-4 {
  position: absolute;
  width: 125px;
  height: 38px;
  top: 5px;
  left: 12px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #090000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.events-registered .image {
  width: 32px;
  height: 24px;
  top: 13px;
  left: 160px;
  position: absolute;
  object-fit: cover;
}

.events-registered .img {
  position: absolute;
  width: 1331px;
  height: 16px;
  top: 350px;
  left: 44px;
}

.events-registered .overlap-group-wrapper {
  position: absolute;
  width: 624px;
  height: 267px;
  top: 401px;
  left: 78px;
}

.events-registered .overlap-group-2 {
  position: relative;
  width: 620px;
  height: 267px;
  background-color: #fcfcfc;
  border-radius: 40px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 10px 20px 4px #00000040;
}

.events-registered .overlap-group-3 {
  position: absolute;
  width: 552px;
  height: 252px;
  top: 0;
  left: 17px;
}

.events-registered .image-2 {
  width: 201px;
  height: 236px;
  top: 16px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.events-registered .TITLE-OF-THE-EVENT {
  position: absolute;
  width: 377px;
  height: 183px;
  top: 0;
  left: 175px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
}

.events-registered .span {
  color: #000000;
}

.events-registered .text-wrapper-5 {
  color: #988f8f;
}

.events-registered .text-wrapper-6 {
  color: #ada4a4;
}

.events-registered .image-3 {
  width: 23px;
  height: 26px;
  top: 215px;
  left: 183px;
  position: absolute;
  object-fit: cover;
}

.events-registered .text-wrapper-7 {
  position: absolute;
  width: 28px;
  height: 14px;
  top: 220px;
  left: 222px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 11.8px;
  white-space: nowrap;
}

.events-registered .frame {
  display: flex;
  width: 171px;
  height: 43px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 23px 13px 35px;
  top: 198px;
  left: 402px;
  border-radius: 25px;
  position: absolute;
  background-color: #1e5048;
}

.events-registered .REGISTERED {
  position: relative;
  width: 119px;
  height: 20px;
  margin-top: -2px;
  margin-bottom: -1px;
  margin-right: -6px;
  color: #f7fbff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  line-height: 15.1px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.events-registered .overlap-wrapper {
  position: absolute;
  width: 624px;
  height: 267px;
  top: 401px;
  left: 768px;
}

.events-registered .overlap-2 {
  position: absolute;
  width: 624px;
  height: 267px;
  top: 700px;
  left: 68px;
}

.events-registered .div-wrapper {
  position: absolute;
  width: 624px;
  height: 267px;
  top: 0;
  left: 0;
}

.events-registered .overlap-3 {
  position: absolute;
  width: 624px;
  height: 267px;
  top: 700px;
  left: 751px;
}

.events-registered .group-2 {
  position: absolute;
  width: 1440px;
  height: 139px;
  top: -21px;
  left: 0;
}

.events-registered .overlap-4 {
  position: relative;
  height: 118px;
  top: 21px;
}

.events-registered .frame-2 {
  width: 1440px;
  height: 104px;
  top: 1px;
  left: 0;
  position: absolute;
  background-color: #1e5048;
}

.events-registered .image-4 {
  width: 90px;
  height: 88px;
  top: 9px;
  left: 1326px;
  position: absolute;
  object-fit: cover;
}

.events-registered .logo {
  position: absolute;
  width: 137px;
  height: 118px;
  top: 0;
  left: 30px;
  object-fit: cover;
}

.events-registered .search {
  position: absolute;
  width: 330px;
  height: 63px;
  top: 245px;
  left: 1061px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #999999;
}

.events-registered .image-5 {
  width: 34px;
  height: 34px;
  top: 14px;
  left: 264px;
  position: absolute;
  object-fit: cover;
}

.events-registered .text-wrapper-8 {
  position: absolute;
  width: 313px;
  height: 54px;
  top: 3px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}
