.landing-page {
  background-color: #fffff7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #fffff7;
  overflow: hidden;
  width: 1440px;
  height: 4080px;
  position: relative;
}

.landing-page .overlap {
  position: absolute;
  width: 361px;
  height: 71px;
  top: 3610px;
  left: 718px;
}

.landing-page .frame {
  position: absolute;
  width: 361px;
  height: 64px;
  top: 7px;
  left: 0;
  background-color: #fffff7;
  border-radius: 10px;
}

.landing-page .text-wrapper {
  position: absolute;
  top: 0;
  left: 9px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #030202;
  font-size: 64px;
  letter-spacing: 1.28px;
  line-height: 70.4px;
  white-space: nowrap;
}

.landing-page .overlap-group {
  position: absolute;
  width: 1440px;
  height: 135px;
  top: 3269px;
  left: 0;
  background-color: #1e5048;
}

.landing-page .trusted-and-backed {
  position: absolute;
  top: 2px;
  left: 254px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 66px;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 1027px;
  height: 634px;
  top: 2626px;
  left: 242px;
}

.landing-page .BUTTON {
  top: 550px;
  left: 406px;
  display: flex;
  width: 165px;
  height: 44px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #ffffff;
  all: unset;
  box-sizing: border-box;
}

.landing-page .button {
  position: relative;
  width: 87px;
  height: 20px;
  margin-top: -2px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: 26.9px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.landing-page .BUTTON-wrapper {
  top: 550px;
  left: 9px;
  display: flex;
  width: 165px;
  height: 44px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #ffffff;
  all: unset;
  box-sizing: border-box;
}

.landing-page .div-wrapper {
  top: 550px;
  left: 835px;
  display: flex;
  width: 165px;
  height: 44px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #ffffff;
  all: unset;
  box-sizing: border-box;
}

.landing-page .BUTTON-2 {
  top: 220px;
  left: 835px;
  display: flex;
  width: 165px;
  height: 44px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #ffffff;
  all: unset;
  box-sizing: border-box;
}

.landing-page .BUTTON-3 {
  top: 220px;
  left: 406px;
  display: flex;
  width: 165px;
  height: 44px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #ffffff;
  all: unset;
  box-sizing: border-box;
}

.landing-page .group {
  position: absolute;
  width: 1004px;
  height: 634px;
  top: 0;
  left: 23px;
}

.landing-page .rectangle {
  left: 151px;
  position: absolute;
  width: 223px;
  height: 3px;
  top: 110px;
  background-color: #717171;
  transform: rotate(90.73deg);
}

.landing-page .rectangle-2 {
  left: 581px;
  position: absolute;
  width: 223px;
  height: 3px;
  top: 110px;
  background-color: #717171;
  transform: rotate(90.73deg);
}

.landing-page .listed-linked {
  position: absolute;
  width: 226px;
  top: 186px;
  left: 374px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
  white-space: nowrap;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  width: 132px;
  top: 188px;
  left: 837px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
  white-space: nowrap;
}

.landing-page .image {
  width: 114px;
  height: 108px;
  top: 59px;
  left: 838px;
  position: absolute;
  object-fit: cover;
}

.landing-page .overlap-group-2 {
  position: absolute;
  width: 174px;
  height: 161px;
  top: 10px;
  left: 378px;
}

.landing-page .vector {
  position: absolute;
  width: 98px;
  height: 101px;
  top: 43px;
  left: 76px;
}

.landing-page .img {
  width: 108px;
  height: 118px;
  top: 43px;
  position: absolute;
  left: 0;
}

.landing-page .image-2 {
  width: 49px;
  height: 49px;
  top: 0;
  left: 63px;
  position: absolute;
  object-fit: cover;
}

.landing-page .vector-2 {
  width: 105px;
  height: 126px;
  top: 53px;
  position: absolute;
  left: 0;
}

.landing-page .profile {
  position: absolute;
  width: 106px;
  top: 188px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
  white-space: nowrap;
}

.landing-page .image-3 {
  width: 57px;
  height: 52px;
  top: 258px;
  left: 232px;
  position: absolute;
  object-fit: cover;
}

.landing-page .image-4 {
  width: 58px;
  height: 52px;
  top: 258px;
  left: 664px;
  position: absolute;
  object-fit: cover;
}

.landing-page .rectangle-3 {
  position: absolute;
  width: 223px;
  height: 3px;
  top: 435px;
  left: 147px;
  background-color: #717171;
  transform: rotate(90.73deg);
}

.landing-page .rectangle-4 {
  position: absolute;
  width: 223px;
  height: 3px;
  top: 435px;
  left: 576px;
  background-color: #717171;
  transform: rotate(90.73deg);
}

.landing-page .text-wrapper-3 {
  position: absolute;
  width: 226px;
  top: 512px;
  left: 395px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
  white-space: nowrap;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  width: 199px;
  top: 512px;
  left: 793px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
  white-space: nowrap;
}

.landing-page .VAO {
  position: absolute;
  width: 67px;
  top: 512px;
  left: 35px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
  white-space: nowrap;
}

.landing-page .image-5 {
  position: absolute;
  width: 58px;
  height: 52px;
  top: 582px;
  left: 227px;
  object-fit: cover;
}

.landing-page .image-6 {
  position: absolute;
  width: 57px;
  height: 52px;
  top: 582px;
  left: 659px;
  object-fit: cover;
}

.landing-page .image-7 {
  width: 114px;
  height: 108px;
  top: 375px;
  left: 7px;
  position: absolute;
  object-fit: cover;
}

.landing-page .image-8 {
  width: 136px;
  height: 120px;
  top: 375px;
  left: 402px;
  position: absolute;
  object-fit: cover;
}

.landing-page .image-9 {
  width: 114px;
  height: 108px;
  top: 382px;
  left: 833px;
  position: absolute;
  object-fit: cover;
}

.landing-page .learn-more {
  position: absolute;
  width: 108px;
  top: 559px;
  left: 439px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 16.8px;
}

.landing-page .overlap-wrapper {
  position: absolute;
  width: 167px;
  height: 44px;
  top: 223px;
  left: 0;
}

.landing-page .overlap-3 {
  position: relative;
  width: 165px;
  height: 44px;
  border-radius: 25px;
}

.landing-page .BUTTON-4 {
  top: 0;
  left: 0;
  display: flex;
  width: 165px;
  height: 44px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 9px 6px 25px;
  position: absolute;
  background-color: #01c1a0;
  border-radius: 25px;
  border: 2px solid;
  border-color: #ffffff;
  all: unset;
  box-sizing: border-box;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  width: 134px;
  height: 37px;
  top: 4px;
  left: 18px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 16.8px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  width: 134px;
  height: 37px;
  top: 552px;
  left: 23px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 16.8px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  width: 134px;
  height: 37px;
  top: 552px;
  left: 850px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 16.8px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.landing-page .text-wrapper-8 {
  position: absolute;
  width: 134px;
  height: 37px;
  top: 222px;
  left: 855px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 16.8px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.landing-page .text-wrapper-9 {
  position: absolute;
  width: 134px;
  height: 37px;
  top: 222px;
  left: 425px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 16.8px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.landing-page .overlap-4 {
  position: absolute;
  width: 1440px;
  height: 1747px;
  top: 0;
  left: 0;
}

.landing-page .frame-2 {
  position: absolute;
  width: 408px;
  height: 73px;
  top: 1659px;
  left: 97px;
  background-color: #fffff7;
  border-radius: 10px;
}

.landing-page .frame-3 {
  position: absolute;
  width: 1439px;
  height: 122px;
  top: 0;
  left: 1px;
  background-color: #1e5048;
}

.landing-page .untitled-design {
  position: absolute;
  width: 1440px;
  height: 1494px;
  top: 69px;
  left: 0;
  object-fit: cover;
}

.landing-page .logo {
  position: absolute;
  width: 137px;
  height: 79px;
  top: 0;
  left: 23px;
  object-fit: cover;
}

.landing-page .navbar {
  position: absolute;
  width: 614px;
  height: 29px;
  top: 14px;
  left: 692px;
}

.landing-page .text-wrapper-10 {
  width: 91px;
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-11 {
  position: absolute;
  width: 175px;
  top: 0;
  left: 431px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-12 {
  width: 128px;
  left: 278px;
  position: absolute;
  top: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  width: 137px;
  top: 0;
  left: 135px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #fffdfd;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .sign-up-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 24px;
  position: absolute;
  top: 11px;
  left: 1287px;
  border-radius: 25px;
  border: 2px solid;
  border-color: #ffffff;
}

.landing-page .sign-up {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 20.2px;
  white-space: nowrap;
  background-color: #1e5048;
}

.landing-page .shining {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 447px;
  left: 417px;
  object-fit: cover;
}

.landing-page .learn-more-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 24px;
  position: absolute;
  top: 580px;
  left: 51px;
  background-color: #1e5048;
  border-radius: 25px;
}

.landing-page .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  color: #f7fbff;
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: 26.9px;
  white-space: nowrap;
  font-family: "Lato", Helvetica;
  font-weight: 700;
}

.landing-page .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 24px;
  position: absolute;
  top: 580px;
  left: 308px;
  background-color: #1e5048;
  border-radius: 25px;
}

.landing-page .p {
  position: absolute;
  width: 515px;
  top: 204px;
  left: 51px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .audi-wit {
  position: absolute;
  width: 644px;
  height: 725px;
  top: 1022px;
  left: 0;
  object-fit: cover;
}

.landing-page .we-re-on-a-mission {
  position: absolute;
  width: 617px;
  top: 1165px;
  left: 783px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .represent-farmers {
  position: absolute;
  width: 636px;
  top: 1381px;
  left: 764px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .span {
  font-weight: 700;
}

.landing-page .text-wrapper-15 {
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  width: 393px;
  top: 1653px;
  left: 112px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 54px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .overlap-group-wrapper {
  position: absolute;
  width: 409px;
  height: 82px;
  top: 1068px;
  left: 720px;
}

.landing-page .overlap-5 {
  position: relative;
  width: 407px;
  height: 82px;
}

.landing-page .frame-5 {
  position: absolute;
  width: 390px;
  height: 82px;
  top: 0;
  left: 0;
  background-color: #fffff7;
  border-radius: 10px;
}

.landing-page .text-wrapper-17 {
  position: absolute;
  width: 393px;
  top: 4px;
  left: 14px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 54px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .overlap-6 {
  position: absolute;
  width: 1440px;
  height: 842px;
  top: 1755px;
  left: 0;
}

.landing-page .screenshot {
  position: absolute;
  width: 275px;
  height: 453px;
  top: 0;
  left: 954px;
  object-fit: cover;
}

.landing-page .v-audi-wit {
  position: absolute;
  width: 524px;
  height: 686px;
  top: 40px;
  left: 916px;
  object-fit: cover;
}

.landing-page .frame-6 {
  position: absolute;
  width: 1440px;
  height: 139px;
  top: 703px;
  left: 0;
  background-color: #1e5048;
}

.landing-page .what-are {
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 1.28px;
  line-height: 70.4px;
  white-space: nowrap;
}

.landing-page .our-solutions {
  position: absolute;
  top: 95px;
  left: 306px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: #ffffff;
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  white-space: nowrap;
  font-style: var(--h3-font-style);
}

.landing-page .stay-informed-and {
  position: absolute;
  width: 636px;
  top: 1764px;
  left: 128px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .community-connection {
  position: absolute;
  width: 636px;
  top: 1886px;
  left: 130px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .district-points {
  position: absolute;
  width: 636px;
  top: 2135px;
  left: 130px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .farm-work-hub {
  position: absolute;
  width: 636px;
  top: 2010px;
  left: 128px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-7 {
  position: absolute;
  width: 1469px;
  height: 44px;
  top: -44px;
  left: 0;
}

.landing-page .element-removebg {
  position: absolute;
  width: 495px;
  height: 486px;
  top: 3594px;
  left: 52px;
  object-fit: cover;
}

.landing-page .group-2 {
  position: absolute;
  width: 1387px;
  height: 157px;
  top: 3404px;
  left: 53px;
}

.landing-page .element {
  position: absolute;
  width: 187px;
  height: 157px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page .element-2 {
  position: absolute;
  width: 145px;
  height: 130px;
  top: 14px;
  left: 279px;
  object-fit: cover;
}

.landing-page .element-lowres-logo {
  position: absolute;
  width: 134px;
  height: 104px;
  top: 28px;
  left: 728px;
  object-fit: cover;
}

.landing-page .group-3 {
  position: absolute;
  width: 120px;
  height: 78px;
  top: 40px;
  left: 516px;
}

.landing-page .image-removebg {
  position: absolute;
  width: 156px;
  height: 112px;
  top: 28px;
  left: 954px;
  object-fit: cover;
}

.landing-page .element-3 {
  position: absolute;
  width: 185px;
  height: 141px;
  top: 14px;
  left: 1202px;
  object-fit: cover;
}

.landing-page .have-questions-or {
  position: absolute;
  width: 567px;
  top: 3690px;
  left: 739px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 26.4px;
}

.landing-page .frame-8 {
  position: absolute;
  width: 268px;
  height: 43px;
  top: 3790px;
  left: 737px;
  background-color: #fffff7;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.landing-page .text-wrapper-18 {
  position: absolute;
  width: 141px;
  top: 8px;
  left: 12px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #615252;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 22px;
  white-space: nowrap;
}

.landing-page .e-mail-address-wrapper {
  position: absolute;
  width: 268px;
  height: 43px;
  top: 3841px;
  left: 1022px;
  background-color: #fffff7;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.landing-page .frame-9 {
  position: absolute;
  width: 268px;
  height: 43px;
  top: 3841px;
  left: 737px;
  background-color: #fffff7;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.landing-page .frame-10 {
  position: absolute;
  width: 556px;
  height: 123px;
  top: 3892px;
  left: 737px;
  background-color: #fffff7;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.landing-page .last-name-wrapper {
  position: absolute;
  width: 268px;
  height: 43px;
  top: 3790px;
  left: 1022px;
  background-color: #fffff7;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
}

.landing-page .last-name {
  position: absolute;
  width: 141px;
  top: 8px;
  left: 11px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #615252;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 22px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}
.landing-page .hello{
  background-color: #1e5048;
  font-size:18px;
  width: 100px;
  height: 40px;

}

